/*GENERALS*/
* {
  font-family: "Intro", "Sans-serif";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  background-color: white;
}

.container {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

/*HEADER*/

.logo {
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}
.nav {
  filter: opacity(50%);
  display: flex;
  justify-content: flex-end;
}
a {
}
#pin {
  fill: orange;
}
#bbq {
  fill: orange;
}
.input {
}

#orderfrom {
  font-size: large;
  display: flex;
  color: white;
  justify-content: center;
}
#fillform{
  display: flex;
  
}
main {
  background: linear-gradient(to bottom, yellow, green);
}
